.App {
  margin: auto;
  width: 100%;
  max-width: 700px;
  margin-top: 50px;
}

.App header {
  text-transform: uppercase;
  color: transparent;
  color: #9e88e9;
  font-size: 4rem;
  padding: 30px;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.App .add {
  padding: 15px 30px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  margin-bottom: 30px;
  border-radius: 5px;
}

.App .add form {
  display: flex;
  align-items: center;
}

.App .add input {
  border: 1px solid white;
  border-radius: 500px;
  padding: 10px 10px 10px 20px;
  width: 100%;
  font-size: 1rem;
  outline: none;
  color: #314e52;
  font-weight: 300;
}

.App .add button {
  background: white;
  color: #9e88e9;
  padding: 10px 20px;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1em;
  margin-left: 15px;
}

.App .add button svg {
  margin-right: 5px;
}

.red {
  background: red;
}
.arrow {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.sun {
  color: #fff;
}
.moon {
  color: #9e88e9;
}
.iconContainer {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.englober {
  width: 100%;
  height: 100%;

}

@media all and (max-width: 740px) {
  .App .add {
    padding: 8px 13px
  }
  .englober {
    width: 90%;
  }
  .title {
    font-size: 10.6vw;
  }
}